@{
    var nombre = Context.Session.GetString("Nombre") ?? "Admin";
    var rol = Context.Session.GetString("Rol");
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>@ViewData["Title"] - eMind</title>

    <!-- Google Fonts: Poppins -->
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap" rel="stylesheet" />

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Sistema_Tea.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/layout.css" asp-append-version="true" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" rel="stylesheet" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-light">
            <div class="container-fluid">
                <a class="navbar-brand d-flex align-items-center" asp-area="" asp-controller="Home" asp-action="Index">
                    <i class="bi bi-hospital me-2"></i> eMind
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between align-items-center">
                    <ul class="navbar-nav flex-grow-1">
                       <!-- aqui se pueden añadir cosas a la navbar por siacaso-->
                    </ul>

                    <div class="navbar-profile" title="Perfil de @nombre">
                        <div class="profile-icon">@nombre.Substring(0, 1).ToUpper()</div>
                        <span>¡Hola, <strong>@nombre</strong>!</span>
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <div class="d-flex">
        <div id="sidebar-wrapper">
            <div class="list-group list-group-flush">
                <a asp-controller="Home" asp-action="Dashboard" class="list-group-item list-group-item-action">
                    <i class="bi bi-speedometer2"></i> Dashboard
                </a>

                @if (rol == "Administrador")
                {
                    <a asp-controller="Home" asp-action="ListarPsicologos" class="list-group-item list-group-item-action">
                        <i class="bi bi-people-fill"></i> Psicólogos
                    </a>
                    <a asp-controller="Home" asp-action="ListarCoordinadores" class="list-group-item list-group-item-action">
                        <i class="bi bi-boxes"></i> Coordinadores
                    </a>
                    <a asp-controller="Home" asp-action="ListarAdministradores" class="list-group-item list-group-item-action">
                        <i class="bi bi-award"></i> Administradores
                    </a>
                    <a asp-controller="Rol" asp-action="Index" class="list-group-item list-group-item-action">
                        <i class="bi bi-shield-lock-fill"></i> Roles
                    </a>
                    <a asp-controller="Reporte" asp-action="Index" class="list-group-item list-group-item-action">
                        <i class="bi bi-file-earmark-bar-graph-fill"></i> Reportes
                    </a>
                    <a asp-controller="Configuracion" asp-action="Index" class="list-group-item list-group-item-action">
                        <i class="bi bi-gear-fill"></i> Configuraciones
                    </a>
                }
                else if (rol == "Psicologo")
                {
                    <a asp-controller="Paciente" asp-action="MisPacientes" class="list-group-item list-group-item-action">
                        <i class="bi bi-person-lines-fill"></i> Mis Pacientes
                    </a>
                    <a asp-controller="Sesion" asp-action="Index" class="list-group-item list-group-item-action">
                        <i class="bi bi-calendar-check-fill"></i> Sesiones
                    </a>
                   
                    <a asp-controller="Paciente" asp-action="Test" class="list-group-item list-group-item-action">
                        <i class="bi bi-spellcheck"></i> Test
                    </a>
                }
                else if(rol == "Coordinador"){

                    <a asp-controller="Paciente" asp-action="Index" class="list-group-item list-group-item-action">
                        <i class="bi bi-person-lines-fill"></i> Pacientes
                    </a>
                    <a asp-controller="Paciente" asp-action="IndexTutor" class="list-group-item list-group-item-action">
                        <i class="bi bi-person-vcard"></i> Tutores
                    </a>
                    <a asp-controller="Consentimiento" asp-action="plantillaConsentimiento" class="list-group-item list-group-item-action">
                        <i class="bi bi-file-text-fill"></i> Consentimientos
                    </a>
                    <a asp-controller="AsignacionPaciente" asp-action="Index" class="list-group-item list-group-item-action">
                        <i class="bi bi-person-vcard"></i> Asignaciones
                    </a>

                }
                <a asp-controller="Cuenta" asp-action="Logout" class="list-group-item list-group-item-action text-danger">
                    <i class="bi bi-box-arrow-right"></i> Cerrar sesión
                </a>
            </div>
        </div>
        <div class="container-fluid p-4">
            @RenderBody()
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
